%br/
%br/
%br/
%footer.page-footer.font-small.unique-color-dark.pt-4.bg-secondary.border-top.border-dark
  .container
    %ul.list-unstyled.list-inline.text-center
      %li.list-inline-item
        %a.btn-floating.btn-fb.mx-1
          %p aaa
      %li.list-inline-item
        %a.btn-floating.btn-tw.mx-1
          %p bbb
  .footer-copyright.text-center.py-3
    © 2019 Copyright:俺
